.common-header {
    width: 100%;
    display: flex;
    justify-content: space-around;
    color: silver;
    font-weight: 700;
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: rgb(75, 73, 73);
}